$color-text: #333;
$color-text-sub: #999;
$color-background: #fff;
$color-background-l: #e9ecf3;
$color-background-ld: #e4e8f1;
$color-background-d: #4e546c;
$color-theme: #ff5687;
$color-theme-sub: #8ca0b3;
$color-border: #dfe6ec;
$color-btn: #ec008c;
$color-btn-sub: #fc6767;

$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large-s: 18px;
$font-size-large: 20px;
$font-size-large-x: 24px;

$border-radius: 2px;
$gutter: 12px;
$gutter-big: 20px;
